/* Space out content a bit */
 body {
    padding-top: 0px;
    padding-bottom: 20px;
    padding-left: 0px;
    padding-right: 0px;
    font-size: 12px;
}
/* Everything but the jumbotron gets side spacing for mobile first views */
 .header, .marketing, .footer {
    padding-left: 15px;
    padding-right: 15px;
}
pre {
    font-size:11px;
}
/* Custom page header */
 .header {
    border-bottom: 1px solid #e5e5e5;
    background:#fcf8e3;
}
schema {
    margin: 5px 0px 5px 15px;
    padding:5px 3px 5px 10px;
    display: block;
    /*border:solid 1px transparent;*/
    border-radius: 3px;
    font-size: 12px;
}

schema.rootSchema {
    margin-left: 0px;
}

schema:hover {
    /*border:solid 1px transparent;*/
    border-radius: 3px;
}

.schema-heading {
    margin-bottom:5px;
    font-size:12px;
}

.schema-heading {
    margin-bottom:5px;
    font-size:12px;
}

schema div.schema-key {
    cursor: pointer;
    padding-right:50px;
}

schema .label {
    padding:4px 10px 4px 10px;
}

textarea#json, input#url {
    font-family: Monaco, Menlo, Consolas, "Courier New", monospace;
    font-size: 12px;
}
.panel-heading {
    font-weight: bold;
    font-size: 14px;
}

schema .panel {
    margin-bottom:0px;
}

schema .navbar-default a {
    color:#828282;
}
schema .panel-body {
    padding:5px;
    margin-bottom:0px;
}

schema .glyphicon {
    line-height: 1.5;
    padding:2px;
}

schema .btn-xs{
    margin:0;
}

schema .navbar-brand {
    padding:0;
    font-size:13px;
    font-weight: bold;
}

schema .navbar-default {
    padding:5px;
    margin:0;
}



schema .navbar {
    min-height:0;
}

/* Make the masthead heading the same height as the navigation */
 .header h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    font-weight:bold;
    color:#333;

}
/* Custom page footer */
 .footer {
    padding-top: 19px;
    color: #777;
}
/* Customize container */
 @media (min-width: 768px) {
    .container {
        max-width: 100%;
    }
}
.container-narrow > hr {
    margin: 30px 0;
}
/* Main marketing message and sign up button */
 .jumbotron {
    text-align: center;
    border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}
/* Supporting marketing content */
 .marketing {
    margin: 40px 0;
}
.marketing p + h4 {
    margin-top: 28px;
}
/* Responsive: Portrait tablets and up */
 @media screen and (min-width: 768px) {
    /* Remove the padding we set earlier */
    .header, .marketing, .footer {
        padding-left: 0;
        padding-right: 0;
    }
    /* Space out the masthead */
    .header {
        margin-bottom: 30px;
    }
    /* Remove the bottom border on the jumbotron for visual effect */
    .jumbotron {
        border-bottom: 0;
    }
}


/* ------------------------------------------*/

.form-inline .input-group {
    margin: 0px 0px 5px 0px; /* Add something like this */
}

.form-inline .input-group-addon {
    margin: 0px 0px 0px 5px; /* Add something like this */
}

h6 {
    font-weight: bold;
    margin-bottom:5px;
    margin-top:5px;
    text-transform: uppercase;
}