
<div class="list-group">
      <a href="http://tools.ietf.org/html/draft-fge-json-schema-validation-00" class="list-group-item">
        <h4 class="list-group-item-heading">
        JSON Schema: interactive and non interactive validation </h4>
        <p class="list-group-item-text">
          JSON Schema (application/schema+json) has several purposes, one of
   which is instance validation.  The validation process may be
   interactive or non interactive.  For instance, applications may use
   JSON Schema to build a user interface enabling interactive content
   generation in addition to user input checking, or validate data
   retrieved from various sources.  This specification describes schema
   keywords dedicated to validation purposes.

        </p>
      </a>
      <a href="http://json-schema-validator.herokuapp.com/" class="list-group-item">
        <h4 class="list-group-item-heading">JSON Schema Validator</h4>
        <p class="list-group-item-text">
          Allows you to validate your JSON instances. Paste your schema and data in the appropriate text areas and press the Validate button.
        </p>
      </a>

       <a href="http://stackoverflow.com/questions/17931874/setting-required-on-a-json-schema-array" class="list-group-item">
        <h4 class="list-group-item-heading">Setting required on a json-schema array</h4>
        <p class="list-group-item-text">
          I am trying to figure out how to set required on my json-schema array of objects. The required property works fine on an object just not an array.
        </p>
      </a>

    </div>


