
<div class="panel panel-default">
<div class="navbar navbar-default">
    <div class="navbar-header pull-left schema-key" ng-click="show=!show">
      <span class="navbar-brand"><a>{{data.__key__}}</a></span>
    </div>
    <div class="navbar-header pull-right">
      <button type="button" class="btn btn-xs btn-default navbar-btn" ng-click="deleteMe(data.key);">Remove</button>
    </div>
</div>

<div class="panel-body">

  <form class="form-inline" role="form" ng-show=show >
  <div class="form-group-sm">
    <div class="row">
      <div class="col-xs-8">
        <div class="input-group input-group-sm">
          <div class="input-group-addon">ID</div>
          <input type="text" ng-model="data.id" class="form-control input-sm">
        </div>
      </div>

      <div class="col-xs-2">
        <div class="checkbox">
          <input type="checkbox" ng-model="data.__required__" />
        </div>
          <label class="control-label">Required</label>
      </div>

      <div class="col-xs-2">
          <div class="checkbox">
            <input type="checkbox" ng-model="data.additionalProperties" />
          </div>
          <label class="control-label">Add'l Properties</label>
      </div>

    </div>

    <div class="row">
      <div class="col-xs-4">
        <div class="input-group input-group-sm">
          <div class="input-group-addon">Name</div>
          <input type="text" ng-model="data.name" class="form-control input-sm col-xs-3">
        </div>
      </div>

      <div class="col-xs-4">
        <div class="input-group input-group-sm">
          <div class="input-group-addon">Title</div>
          <input type="text" ng-model="data.title" class="form-control input-sm col-xs-6">
        </div>
      </div>

      <div class="col-xs-4">
        <div class="input-group input-group-sm">
          <div class="input-group-addon">Type</div>
          <select class="form-control" ng-model="data.type">
            <option>string</option>
            <option>number</option>
            <option>integer</option>
            <option>boolean</option>
            <option>object</option>
            <option>array</option>
            <option>null</option>
            <option>any</option>
          </select>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-8">
        <div class="input-group input-group-sm">
          <div class="input-group-addon">Description</div>
          <input type="text" ng-model="data.description" class="form-control input-sm">
        </div>
      </div>
      <span ng-if="data.type=='object' || data.type=='array'">
        <div class="col-xs-4">
          <div class="input-group input-group-sm ">
            <div class="input-group-addon">Default</div>
            <input type="text" ng-model="data.default" value="Non-primitive data type" disabled  class="form-control input-sm">
          </div>
        </div>
      </span>
      <span ng-if="data.type!='object' && data.type!='array'">
        <div class="col-xs-4">
          <div class="input-group input-group-sm">
            <div class="input-group-addon">Default</div>
            <input type="text" ng-model="data.default" class="form-control input-sm">
          </div>
        </div>
      </span>
    </div>

    <span ng-if="data.type=='array'">
          <div class="row">
            <div class="col-xs-4">
              <div class="input-group input-group-sm">
                <div class="input-group-addon">Min items</div>
                <input type="text" ng-model="data.minItems" class="form-control input-sm col-xs-3" />
              </div>
            </div>
            <div class="col-xs-4">
              <div class="input-group input-group-sm">
                <div class="input-group-addon">Max items</div>
                <input type="text" ng-model="data.maxItems" class="form-control input-sm col-xs-6" />
              </div>
            </div>
            <div class="col-xs-4"></div>
          </div>
        </span>

  </div>
</form>


<span ng-if="data.properties">
    <span class="label label-info">PROPERTIES</span>
    <span ng-repeat="property in data.properties">
        <schema data="property"></schema>
    </span>
</span>

<span ng-if="data.items.length>0">
    <span class="label label-warning">ITEMS</span>
    <span ng-repeat="item in data.items">
        <schema data="item"></schema>
    </span>
</span>

<span ng-if="data.items && !(data.items.length>0)">
    <span class="label label-warning">ITEMS</span>
    <schema data="data.items"></schema>
</span>

</div>
</div>
